<footer class="footer">
    <div class="footer__container _container">
        <div class="footer__header">
            <div class="footer__infoBlock">
                <div class="mail__subscription">
                    <div class="mail__title">Join our mailing list</div>
                    <form class="input__container" name="input__container">
                        <input class="mail__input" name="mail__input"placeholder="Enter Your Email" type="text">
                        <button type="submit" class="subscribe__button">subscribe</button>
                    </form>
                    <div class="mail__subtitle">
                        By subscribing, i accept the terms & conditions.
                    </div>
                </div>
                <div class="footer__links">
                    <div class="links__title">Useful links</div>
                    <ul class="links__list">
                        <li class="footer__link">FAQs</li>
                        <li class="footer__link">Refer to a friend</li>
                        <li class="footer__link">Contact us</li>
                        <li class="footer__link">Work with us</li>
                    </ul>
                </div>
            </div>
            <div class="footer__media">
                <div class="media__img">
                    <img src="images/instagram.svg" alt="instagram">
                </div>
                <div class="media__img">
                    <img src="images/facebook.svg" alt="facebook">
                </div>
                <div class="media__img">
                    <img src="images/twitter.svg" alt="twitter">
                </div>
            </div>
        </div>
        <div class="footer__logo__container">
            <img class="footer__logo" src="images/footerLogo.svg" alt="">
        </div>
        <div class="footer__bottom">
            <div class="copyright">Copyright @Nubba 2022</div>
            <div class="bottom__links">
                <div class="bottom_link">Terms</div>
                <div class="bottom_link">Privacy policy</div>
            </div>
        </div>
    </div>
</footer>
