<header class="header">
  <div class="header__container _container">
    <div class="navbar">
      <div class="navabar__burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul class="navbar__links">
        <li class="navbar__button"><button href="#">Shop</button></li>
        <li class="navbar__link"><a href="#">Our process</a></li>
        <li class="navbar__link"><a href="#">About</a></li>
        <li class="navbar__link"><a href="#">Support</a></li>
      </ul>
    </div>
    <div class="logo">
      <img src="images/header-logo.svg" alt="header-logo">
    </div>
    <div class="header__buttons">
      <img src="images/header-smile.svg" alt="smile">
      <img src="images/header-handbag.svg" alt="handbag">
    </div>
  </div>
</header>