/*------------------*
# Base
*------------------*/

html {
  box-sizing: border-box;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 1.5;
  overflow-y: scroll;
  min-height: 100%;
  word-wrap: break-word;
}

* {
  &,
  &:before,
  &:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
}

body {
  align-items: stretch;
  display: block;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  &.lock-scroll {
    height: 100vh;
    overflow-y: hidden;
  }
}

ul {
  list-style: none;
}

a {
  color: $color-black;
  text-decoration: none;
  font-weight: $standart-weight;
}

input,
textarea {
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
}

.page-width {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 5%;
  padding-right: 5%;
}

._container {
  $p: 20px;
  max-width: 1340px + $p;
  margin: 0 auto;
  padding: 0px $p;
}

._button {
  transition: opacity 0.5s ease;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  color: $color-white;
  outline: none;
  &:hover{
    cursor: pointer;
    opacity: 0.8;
  }
}

._title {
  font-weight: 300;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -0.02em;
  color: $color-darkGrey;
}

@media (max-width: 768px) {
  ._title {
    font-size: 40px;
    line-height: 40px;
  }
}

@media (max-width: 425px) {
  ._title {
    font-size: 25px;
  }
}
