.promotion {
  height: 100vh;
  margin-bottom: 79px 0;
  .promotion__container {
    height: 100%;
    .promotion__title {
      text-align: center;
      width: 100%;
    }
    .promotion__img {
      width: 100%;
      height: 80%;
      background-image: url("../../images/promotion-sofa.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-content: flex-end;
      align-items: flex-end;
      padding: 0 25px 25px 25px;
      .promotion__mark {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        background-color: $color-white;
        border-radius: 10px;
        padding: 10px 20px;
        .promotion__mark__column {
          display: flex;
          flex-direction: row;
          justify-content: center;
          .mark__name {
            font-weight: 700;
            font-size: 12px;
            line-height: 26px;
            color: #252525;
          }
          .stars {
            display: flex;
            align-items: center;
            padding: 0 10px;
            img {
              margin-right: 1px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
          .mark {
            display: flex;
            flex-direction: row;
            span {
              font-weight: 700;
              font-size: 12px;
              line-height: 26px;
              color: #252525;
              margin-right: 5px;
            }
            div {
              font-weight: 400;
              font-size: 12px;
              line-height: 26px;
            }
          }
          .reviews {
              text-align: center;
            display: flex;
            flex-direction: row;
            margin-right: 2px;
            .review__number {
              font-weight: 700;
              font-size: 12px;
              line-height: 26px;
              color: #252525;
              margin-right: 4px;
            }
            .review__txt {
              font-weight: 400;
              font-size: 12px;
              line-height: 26px;
              color: #252525;
            }
          }
          .trusted{
              display: flex;
              flex-direction: row;
              .img{
                display: flex;
                align-items: center;
                padding: 0 5px;
              }
              .trusted__title{
                font-weight: 700;
                font-size: 12px;
                line-height: 26px;
                color: #252525;
              }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
    .promotion {
  
      .promotion__container {
        .promotion__title {
            font-size: 40px;
            line-height: 40px;
        }
        .promotion__img {
          justify-content: center;
          .promotion__mark {
            .promotion__mark__column {
              .mark {
              }
            }
          }
        }
      }
    }
  }

@media (max-width: 425px) {
  .promotion {
    height: 80vh;

    .promotion__container {
      .promotion__title {
          font-size: 30px;
      }
      .promotion__img {
        background-position: 90%;
        .promotion__mark {
          .promotion__mark__column {
            .mark {
            }
          }
        }
      }
    }
  }
}
