header {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  background-color: $color-white;
  .header__container {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .navbar {
      display: flex;
      align-items: center;
      .navabar__burger {
        span {
          transition: transform 0.3s ease;
          display: none;
          width: 30px;
          height: 4px;
          border-radius: 7px;
          background-color: $color-darkBlue;
          margin: 3px 0px;
        }
      }
      .burger__active {
        span:nth-of-type(2) {
          display: none !important;
        }
        span:first-child {
          transform: rotate(45deg) translateY(110%);
        }
        span:last-child {
          transform: rotate(-45deg) translateY(-120%);
        }
      }
      .navbar__links {
        display: flex;
        align-items: center;
        & > * {
          margin-right: 30px;
          &:last-child {
            margin-right: 0;
          }
        }
        .navbar__button {
          button {
            @extend ._button;
            background-color: $color-darkBlue;
          }
        }
        .navbar__link {
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: $color-darkBlue;
          &:hover{
            text-decoration: underline;
          }
        }
        display: flex;
      }
    }
    .logo {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 50%;
    }
    .header__buttons {
      position: static;
      z-index: 200;
      display: flex;
      align-items: center;
      & > * {
        transition: transform 0.3s ease;
        &:hover {
          transform: scale(1.1);
        }
        margin-left: 25px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  header {
    .header__container {
      .navbar {
        .navabar__burger {
          position: relative;
          z-index: 100;
          span {
            display: block;
          }
        }

        .navbar__links {
          opacity: 0;
          transition: opacity 0.5s ease;
          display: flex;
          // visibility: hidden;
          pointer-events: none;
          justify-content: center;
          align-items: center;
          flex-direction: column-reverse;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          min-height: 100vh;
          background-color: $color-white;
          & > * {
            margin-right: 0px;
            padding: 12.5px 0px;
          }
          &._active {
            opacity: 1;
            // visibility: visible;
            pointer-events: auto;
          }
          .navbar__button {
            button {
            }
          }
          .navbar__link {
          }
        }
      }
      .logo {
      }
      .header__buttons {
      }
    }
  }
}
